--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
transformers==4.38.1
sentence-transformers==2.5.1
langchain==0.1.11
langchain-community==0.0.27
langchain-huggingface==0.0.1
faiss-cpu==1.8.0
gradio==4.21.0
